<div class="overlay">
    <md-grid-list md-cols="3" md-row-height = "100%">
        <md-grid-tile class="grid--one" md-colspan = "1">
            <div layout ="column">
                <div flex>
                    <img class="circular--square" src="assets/images/An.jpg" alt="avatar" width="80%" align="middle" />
                </div>
                <div>
                    <h3 class="my--name">Nguyen Thanh An</h3>
                    <p class="my--job">
                        <i class ="fa fa-briefcase"></i>
                        Programmer
                    </p>
                    <p class="my--country">
                        <i class="fa fa-map-marker"></i>
                        Viet Nam
                    </p>
                </div>
            </div>
        </md-grid-tile>
        <md-grid-tile class="grid--two" md-colspan = "2">
            <div class="my--tab" ng-cloak>
                <md-content class="my--tab">
                    <md-tabs class="my--tab" md-align-tabs md-border-bottom md-center-tabs md-swipe-content>
                        <md-tab label="About">
                            <md-content class="my--content">
                                <div layout="row" class="my--About">
                                    <div flex="5">
                                    </div>
                                    <div flex="27" layout="column">
                                        <p class="my--PersonalInformation">
                                            <i class ="fa fa-user"></i>
                                            <b><i>Personal Infomation</i></b>
                                        </p>
                                        <span ng-repeat="item in vm.information">
                                            <p>
                                                <b>{{item.name}}</b>
                                                <i>{{item.value}}</i>
                                            </p>
                                        </span>
                                    </div>
                                    <div flex="5" class="verticalLine">
                                    </div>
                                    <div flex="27" layout="column">
                                        <p class="my--Hobbies">
                                            <i class ="fa fa-smile-o"></i>
                                            <b><i>Hobbies</i></b>
                                        </p>
                                        <span ng-repeat="item in vm.hobbies">
                                            <p>
                                                <li>{{item.name}}</li>
                                            </p>
                                        </span>
                                    </div>
                                    <div flex="5" class="verticalLine">
                                    </div>
                                    <div flex="26" layout="column">
                                        <p class="my--Objective">
                                            <i class ="fa fa-edit"></i>
                                            <b><i>Career Objective</i></b>
                                        </p>
                                        <p>
                                            In the future, i want to be a programmer who can produce many useful software for everyone.
                                        </p>
                                    </div>
                                    <div flex="5">
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="Education" >
                            <md-content class="my--content">
                                <div layout="row">
                                    <div flex="35">
                                        <p style="text-align:right;">
                                            <i class ="fa fa-graduation-cap"></i>
                                            <b>Graduated from Primary School</b>
                                        </p>
                                        <br></br>
                                        <p style="text-align:right;">
                                            <i class ="fa fa-graduation-cap"></i>
                                            <b>Graduated from Secondary School</b>
                                        </p>
                                        <br></br>
                                        <p style="text-align:right;">
                                            <i class ="fa fa-graduation-cap"></i>
                                            <b>Graduated from High School</b>
                                        </p>
                                        <br></br>
                                        <p style="text-align:right;">
                                            <i class ="fa fa-edit"></i>
                                            <b>Studying at Ho Chi Minh University Of Science</b>
                                        </p>
                                    </div>
                                    <div flex="5">
                                    </div>
                                    <div flex="10" class="leftborder">
                                        <p style="text-align:center;">
                                            <i>05/2006</i>
                                        </p>
                                        <br></br>
                                        <p style="text-align:center;">
                                            <i>05/2010</i>
                                        </p>
                                        <br></br>
                                        <p style="text-align:center;">
                                            <i>05/2013</i>
                                        </p>
                                        <br></br>
                                        <p style="text-align:center;">
                                            <i>09/2013 - Up to Now</i>
                                        </p>
                                    </div>
                                    <div flex="10" class="rightborder">
                                        <br></br>
                                        <p style="text-align:center;">
                                            <i>08/2006</i>
                                        </p>
                                        <br></br>
                                        <p style="text-align:center;">
                                            <i>08/2010</i>
                                        </p>
                                        <br></br>
                                        <p style="text-align:center;">
                                            <i>09/2013</i>
                                        </p>
                                    </div>
                                    <div flex="5">
                                    </div>
                                    <div flex="35">
                                        <br></br>
                                        <p>
                                            <i class ="fa fa-bank"></i>
                                            <b>Joined Secondary School</b>
                                        </p>
                                        <br></br>
                                        <p>
                                            <i class ="fa fa-bank"></i>
                                            <b>Joined High School</b>
                                        </p>
                                        <br></br>
                                        <p>
                                            <i class ="fa fa-bank"></i>
                                            <b>Joined Ho Chi Minh University Of Science</b>
                                        </p>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="Skill">
                            <md-content class="my--content">
                                <div layout="row">
                                    <div flex="5">
                                    </div>
                                    <div layout="column" flex="40">
                                        <p class="my--technicalskill">
                                            <i class ="fa fa-wrench"></i>
                                            <b><i>Technical Skill</i></b>
                                        </p>
                                        <md-card-content>
                                            <span ng-repeat="item in vm.technical">
                                                <span>{{item.name}}</span>
                                            <div class="myProgress">
                                              <div class="myBar1" style="width: {{item.value}};">
                                                <div class="label">{{item.value}}</div>
                                              </div>
                                            </div>
                                            </span>
                                        </md-card-content>
                                    </div>
                                    <div flex="10">
                                    </div>
                                    <div layout="column" flex="40">
                                        <p class="my--softskill">
                                            <i class ="fa fa-users"></i>
                                            <b><i>Soft Skill</i></b>
                                        </p>
                                        <md-card-content>
                                            <span ng-repeat="item in vm.soft">
                                                <span>{{item.name}}</span>
                                            <div class="myProgress">
                                              <div class="myBar2" style="width: {{item.value}};">
                                                <div class="label">{{item.value}}</div>
                                              </div>
                                            </div>
                                            </span>
                                        </md-card-content>
                                    </div>
                                    <div flex="5">
                                    </div>
                                </div>

                            </md-content>
                        </md-tab>
                        <md-tab label="Contact">
                            <md-content class="my--content">
                                <div layout="row" layout-align="center center" class="layout-align-center-center layout-row">
                                    <md-toolbar class="md-toolbar-tools md-tall layout-align-center-center" layout-align="center center">
                                        <div flex="20" aria-label="Google +" class="flex-20">
                                            
                                            <a href="https://plus.google.com/u/0/102888943418797029283/about">
                                                <i class="fa fa-google-plus fa-4x"></i></a>
                                        </div>
                                        <div flex="20" aria-label="Facebook" class="flex-20">
                                            
                                            <a href="https://www.facebook.com/an.nguyenthanh.104">
                                                <i class="fa fa-facebook fa-4x"></i>
                                            </a>
                                        </div>
                                        <div flex="20" aria-label="Twitter" class="flex-20">
                                            
                                            <a href="https://twitter.com/ntan1312015">
                                                <i class="fa fa-twitter fa-4x"></i>
                                            </a>
                                        </div>
                                        <div flex="20" aria-label="Youtube" class="flex-20">
                                            
                                            <a href="https://www.youtube.com/channel/UCaeRTY0tFo6E7ME_nLLJrKg">
                                                <i class="fa fa-youtube-play fa-4x"></i>
                                            </a>
                                        </div>
                                        <div layout="row" layout-align="center center" flex="20" aria-label="Youtube" class="flex-20">
                                            <i class="fa fa-mobile fa-4x"></i>
                                            <h3> +84169 7686 548</h3>
                                        </div>
                                    </md-toolbar>
                                </div>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                <md-content>
            </div>
        </md-grid-tile>
    </md-grid-list>
</div>