.overlay{
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.circular--square {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
.grid--one {
	background-color: #00695c;
}
h3.my--name {
	color: rgb(255, 255, 255);
	text-align: center;
}
p.my--job {
	color: rgb(255, 255, 255);
	text-align: center;
}
p.my--country{
	color: rgb(255, 255, 255);
	text-align: center;
}
.my--tab{
	width: 100%;
  height: 100%;
}
p.my--technicalskill{
	text-align: center;
}
p.my--softskill{
	text-align: center;
}
.myProgress{
	position:relative;
	width: 100%;
	height: 30px;
	background-color: #ddd;
}
.myBar1 {
  position: absolute;
  height: 100%;
  background-color: #26c6da;
}
.myBar2 {
  position: absolute;
  height: 100%;
  background-color: #0277bd;
}
.label {
  text-align: center;
  line-height: 30px;
  color: white;
}
.my--PersonalInformation{
  text-align: center;
}
.my--Hobbies{
  text-align: center;
}
.my--Objective{
  text-align: center;
}
.verticalLine {
  border-left: thin dotted #c5e1a5;
}
.my--About{
  border-bottom: thin dashed #aed581;
}
.leftborder{
  border-right: dashed;
}